body{
    padding-top: 10em;
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items:center;
 }

 img {
    border: 5px solid #555;
  }